@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1.3em;
	font-size:1em;
	background:#0067af url(images/fondo.jpg) top repeat-x;
}

.container{
	width:80%;
	max-width:1000px;
	background:#fff;
	margin: 20px auto;
	border-radius:2%;
}

header{
	width:100%;
	float:left;
}

header h1{
	margin-left:20px;
	float:left;
}

header h2{
	float:right;
	font-size:1.3em;
	margin-top:110px;
	margin-right:50px;
}


/*Menú principal*/
nav{
	width:100%;
	clear:both;
	padding:10px 0;
	margin-bottom: 50px;

}

nav ul{
	width:100%;
	list-style:none;
	border-top:5px rgb(255, 123, 0) solid;
	
}

nav ul li{
	text-align:center;
	width:25%;
	float:left;  /*mientras haya espacio que se ponga un elemento al lado del otro*/
	background: #c2b114;

	border-right:1px #fff solid;	
	box-sizing: border-box;  /*mete el borde dentro del ancho inicial especificado*/
}

nav ul li:hover, nav ul li.actual{
	background: #6b5808;

}

/*la clase ultima representa el li sin borde a la derecha*/
nav ul li.ultima{
	border-right: none;
}

nav ul li a:link, nav ul li a:visited{
	color:#fff;
	text-decoration: none;
	display:block; 
	padding :10px 0;
}


/*Termina el menú principal*/


/*Submenu*/
nav ul li ul{
	width: 250px;
	margin-top: 1px;
	position: absolute;
	background: #fff;
	display: none;
	border-top: none;
	
}


nav ul li ul li{
	width: 100%;
	border-bottom: 1px solid #fff;
	background: #a17d17;
}

nav ul li:hover > ul{   
/*:hover hace que algo ocurra cuando posicionas el cursor encima del elemento apuntado*/
	display: block;
}

aside{
	width:30%;
	float:right;
	margin-left:20px;
	margin-top:20px;
}

aside article{
	width:90%;
	margin-bottom:50px;
	border-bottom:dotted 1px #5e5c5c;
	padding-bottom:20px;
}

aside article img{
	width:250px;
}

section{
	padding:20px;
}

section h1{
	font-size:1.5em;
	margin-bottom:1em;
}

section p{
	line-height:1.5em;
}

.mapa{
	border: 1px solid #6c6465;
	width: 630px;
	height: 350;
	-moz-box-shadow: 1px 2px 5px #000000;
	-webkit-box-shadow: 1px 2px 5px #000000;
	box-shadow: 1px 2px 5px #000000;
}

footer{
	width:100%;
	clear:both;
	text-align:center;
	padding-bottom:10px;
}

footer p{
	font-size:0.7em;
	color:#645f60;
}

footer a:link, footer a:visited{
	color:#645f60;
}

footer a:hover{
	text-decoration:none;
}

















































